*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#000;
color:#fff;
overflow-x:hidden;
}

img{
max-width:100%;
display:block;
}

a{
text-decoration:none;
}

ul{
list-style:none;
}

.container{
width:90%;
max-width:1400px;
margin:auto;
}

/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 5%;
background:#000;
border-bottom:2px solid #ff0000;
position:sticky;
top:0;
z-index:9999;
}

.logo{
display:flex;
align-items:center;
gap:15px;
}

.logo img{
height:75px;
}

.logo-text h2{
font-size:28px;
color:#fff;
}

.logo-text p{
color:#ff0000;
font-size:14px;
}

nav ul{
display:flex;
gap:25px;
align-items:center;
}

nav a{
color:#fff;
font-weight:600;
transition:.3s;
padding:10px 15px;
border-radius:8px;
}

nav a:hover{
background:#ff0000;
}

/* SEARCH */

.search-box{
position:relative;
}

.search-box input{
width:260px;
padding:12px;
border:none;
outline:none;
border-radius:10px;
}

/* BUTTONS */

.btn{
display:inline-block;
padding:14px 30px;
background:#ff0000;
color:#fff;
border-radius:50px;
font-weight:600;
transition:.3s;
}

.btn:hover{
background:#fff;
color:#000;
}

/* FOOTER */

footer{
background:#0a0a0a;
margin-top:80px;
border-top:2px solid #ff0000;
}

.footer-container{
max-width:1400px;
margin:auto;
padding:50px;
display:grid;
grid-template-columns:2fr 1fr 1fr;
gap:40px;
}

.footer-logo img{
width:90px;
margin-bottom:15px;
}

.footer-links,
.footer-contact{
display:flex;
flex-direction:column;
}

.footer-links a,
.footer-contact a{
color:#fff;
margin-bottom:10px;
transition:.3s;
}

.footer-links a:hover,
.footer-contact a:hover{
color:#ff0000;
}

.footer-bottom{
padding:20px;
text-align:center;
border-top:1px solid #222;
color:#777;
}

/* MOBILE */

@media(max-width:900px){

header{
flex-direction:column;
gap:20px;
}

nav ul{
flex-wrap:wrap;
justify-content:center;
}

.search-box input{
width:100%;
}

.footer-container{
grid-template-columns:1fr;
text-align:center;
}

.logo{
flex-direction:column;
}

}
.admin-modal{
display:none;
position:fixed;
inset:0;
background:rgba(0,0,0,0.8);
justify-content:center;
align-items:center;
z-index:9999;
}

.admin-box{
background:#111;
padding:30px;
border-radius:15px;
text-align:center;
width:300px;
border:1px solid #ff2020;
}

.admin-box h3{
margin-bottom:15px;
color:#ff2020;
}

.admin-box input{
width:100%;
padding:10px;
margin-bottom:15px;
border:none;
border-radius:8px;
outline:none;
background:#1a1a1a;
color:white;
}

.admin-box button{
background:#ff2020;
color:white;
border:none;
padding:10px 15px;
border-radius:8px;
cursor:pointer;
width:100%;
}
.slide{
opacity:0;
transition:1s ease;
position:absolute;
width:100%;
height:100%;
}

.slide.active{
opacity:1;
z-index:2;
}
